.leht{width: 800; padding: 50;}

.pdf {align-items: center; justify-content: center; display: flex; margin-top: 25;}

.tg  {border-collapse: collapse; border-spacing:0; width: 901; height: 91; margin: 0; padding: 0;}

/* .thead{min-width: 900; width: 900; margin: 0; padding: 0; height: 90} */

.tr-titlebar{height: 70; max-height: 70; margin: 0; padding: 0;}

.tg .tg-title{border-width: 0; text-align: center; width: 600px; color:#000000; font-weight: bolder; font-size: 16; padding: 0; vertical-align: bottom;}

.elektrimasinad-logo{height: 40;}

.tg .tg-grundfos{border-width: 0; padding: 0; margin: 0; justify-content: end; vertical-align: bottom; justify-content: end;}

.grundfos-logo{height: 55px; width: auto;}

.tg .tg-prio{border-width: 0; vertical-align: center; align-items: center; display: flex; justify-content: right; margin: 0; padding: 0; vertical-align: bottom;}

.tg .tg-prioH{border-width: 0; padding: 0; font-weight: bold; text-align: center; justify-content: center; vertical-align: bottom;}

.tg .tg-prioV{align-items: center; justify-content:center; font-weight: bold; margin: 0; padding: 0;}

.tg .tg-prioL{background-color:#dddddd; padding: 0; font-weight: bold; text-align: left; padding-left: 5px;}

.tg .tg-73oq{border-right-width: 0;text-align: left;width:150}

.tg .tg-73oq2{border-left-width: 0; text-align: left;width:150}

.tg .tg-c3ow1{vertical-align: top; font-size: 10}

.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:10px;
  overflow:hidden;word-break:normal;padding:1;margin:0}

.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:10px;
  font-weight:normal;overflow:hidden;word-break:normal;padding:1;margin:0}

.tg tr{height:16}