.tg  {border-collapse:collapse;border-spacing:0;}

.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}

.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}

.tg .tg-baqh{text-align:center;vertical-align:top}

.tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}

.tg .tg-llyw{background-color:#c0c0c0;border-color:inherit;text-align:left;vertical-align:top}

.tg .tg-0lax{text-align:left;vertical-align:top}

.tg .tg-jnby{background-color:#c0c0c0;border-color:#333333;text-align:center;vertical-align:top}

.tg .tg-title{border-width: 0;text-align:center;vertical-align:top; height: 100}

.tg .tg-de2y{border-width: 0;text-align:left;vertical-align:top}

.tg .tg-73oq{border-color:#000000;text-align:left;vertical-align:top}

.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}

.tg .tg-y6fn{background-color:#c0c0c0;text-align:left;vertical-align:top}

.tg .tg-VPR{border-width: 0}

.tg .tg-prioV{align-items: center; justify-content:center; width: 80}

.tg .tg-prioH{border-width: 0; align-items: center; justify-content: center; align-content: center}

.tg .tg-prio{display: flex; justify-content: center; align-items: center; border-width: 0; align-content: center; height: 120}

.tg .tg-prioL{background-color:#c0c0c0}

.tg .tg-prioLS{border-width: 0; width: 300; min-width: 200}